<!DOCTYPE html>
<html>

   <head>
      <title>Ticket</title>
   </head>

   <body style="text-align: center;">
      <h1>Welcome <%= user %>.</h1>
      <h2>Here you can view information about your ticket.</h2>
      <p>Ticket ID: <%= ticket.id %></p>
      <p>Ticket buyer vatin: <%= ticket.vatin %></p>
      <p>Ticket created for: <%= ticket.name %> <%= ticket.surname %></p>
      <p>Time created: <%= ticket.timestamp %></p>
   </body>

</html>